<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Contas - Home</title>
</head>
<body>
   <h1>Contas</h1>
   <p>Nome: {{nome}}</p>
   <p>Idade: {{idade}}</p>
   <p>Nacionalidade: {{nacionalidade}}</p>
   <div>
      {% for fruta in frutas %}
         {% if fruta == 'melancia' %}
            <p style="color:red;">{{fruta}}</p>
         {% else %}
            <p>{{fruta}}</p>
         {% endif %}
      {% endfor %}
   </div>
</body>
</html>