<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Formulário</title>
</head>
<body>
   <div>
      <form method="POST">
         {% csrf_token %}
         {{form.as_p}}
         <button type="submit">Salvar</button> 
      </form>
      <a href="{% url 'welcome' %}">Home</a> | <a href="{% url 'listagem' %}">Listagem</a> 
      {% if id_para_deletar %}
         | <a href="{% url 'delete' id_para_deletar.id %}">Delete</a>
      {% endif %}
   </div>
</body>
</html>